* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #d2b48c;
  color: #221811;
  font-family: Tahoma, Arial, Verdana, sans-serif;
}

img {
  padding: 0 10px;
}

h1 {
  font-size: 2em;
}

h1,
h2,
h3,
dt {
  color: #8c3826;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding: 0 0 0 0.5em;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  clear: left;
}

main {
  background-color: #fef6c2;
  display: block;
  padding: 0 0 2em 0;
}

main h2,
main h3,
main h4,
main p,
main div,
main ul,
main dl {
  padding: 0 1em;
}

main ul {
  padding-left: 2em;
}

header {
  background-image: url("cup.jpg");
  height: 128px;
  background-repeat: no-repeat;
  background-color: #d2b48c;
  padding: 5px 0 5px 105px;
  color: #231814;
}

header a {
  text-decoration: none;
}

header a:link {
  color: #231814;
}

header a:visited {
  color: #231814;
}

header a:hover {
  color: #fef6c2;
}

footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding: 1em;
  border-top: 2px solid #8c3826;
}

nav {
  text-align: center;
  font-size: 1.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-size: 1.25em;
}

nav li {
  padding: 0.5em 1em;
  width: 100%;
  border-bottom: 1px solid #fef6c2;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

#wrapper {
  background-color: #231814;
  padding: 0;
}

#homehero {
  background-image: url("road.jpg");
}

#heromugs {
  background-image: url("threemugs.jpg");
}

#heroguitar {
  background-image: url("guitar.jpg");
}

#herojobs {
  background-image: url("coffeecup.jpg");
}

#herocouch {
  background-image: url('herocouch.jpg');
}

#homehero,
#heromugs,
#heroguitar,
#herojobs,
#herocouch {
  height: 300px; /* Set the height to 300 pixels */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: 100% 100%; /* Set the background size to cover the entire element */
}

#mobile {
  display: inline;
}

#desktop {
  display: none;
}

.details {
  padding: 0 20%;
  overflow: auto;
}

.details a {
  text-decoration: none;
}

/* Center the table and set its width to 90% */
table {
  margin: 0 auto; /* Center the table */
  width: 90%; /* Set table width to 90% */
  border-collapse: collapse; /* Remove border spacing */
}

/* Apply padding to table cells */
td,
th {
  padding: 10px; /* 10 pixels of padding */
}

/* Apply background color to alternate rows */
tr:nth-of-type(odd) {
  background-color: #d2b48e; /* Background color for odd rows */
}

form {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 80%;
}

input,
textarea {
  margin-bottom: 0.5em;
}

/* chrome workaround for square borders on audio element */
.audioContainer {
  display: block;
  margin: 1em 0 0 0;
  padding: 0;
  height: min-content;
  background-color: #000000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

audio {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  height: 40px;
}

@-moz-document url-prefix() {
  /* filter workaround for Firefox*/
  audio {
    filter: invert(0%);
    -webkit-filter: invert(0%);
  }
}

/* sale items */
.item {
  background-color: #FAF9F7;
  margin: 1em;
  padding: 1em;
  overflow: auto;
}

.item img {
  float: right;
}

/***************Phone viewport*****************/
@media screen and (min-width: 600px) {
  h1 {
    font-size: 3em;
  }
  h4 {
    margin: 0 10%;
  }
  header {
    text-align: center;
    padding-left: 0;
  }
  nav ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around; /* Distribute items with equal space around them */
  }
  nav li {
    border-bottom: none;
  }
  #homehero {
    height: 50vh;
    background-image: url("hero.jpg");
  }
  #heromugs {
    background-image: url("heromugs.jpg");
  }
  #heroguitar {
    background-image: url("heroguitar.jpg");
  }
  #herojobs {
    background-image: url("herojobs.jpg");
  }
  #flow,
  .details {
    display: flex;
    flex-direction: row;
  }
  #mobile {
    display: none;
  }
  #desktop {
    display: inline;
  }
  form {
    width: 40%; /* Set the width to 40% of its container */
    display: grid; /* Use grid display */
    grid-template-columns: 6em 1fr; /* Define two columns with widths 6em and 1fr */
    grid-gap: 1em; /* Set the grid gap to 1em */
  }
  [type="submit"] {
    grid-column: 2; /* Place the submit button in the second column */
    width: 9em; /* Set the width of the submit button to 9em */
  }
}
@media screen and (min-width: 1024px) {
  header {
    grid-area: header;
  }
  nav {
    grid-area: nav;
  }
  main {
    grid-area: main;
  }
  footer {
    grid-area: footer;
  }
  #wrapper {
    display: grid;
    grid-template:
      "header header"
      "nav main"
      "footer footer"
      / 200px;
  }
  nav ul {
    flex-direction: column;
  }
  header {
    background-image: url("coffeelogo.jpg");
  }
}
